bin/**
obj/**
JMRIDebugOutput/bin/Debug/Assets/Caution.png
JMRIDebugOutput/bin/Debug/Assets/Caution.wav
JMRIDebugOutput/bin/Debug/Assets/Danger.png
JMRIDebugOutput/bin/Debug/Assets/Danger.wav
JMRIDebugOutput/bin/Debug/Assets/green.png
JMRIDebugOutput/bin/Debug/Assets/green.wav
JMRIDebugOutput/bin/Debug/Assets/off.png
JMRIDebugOutput/bin/Debug/Assets/Proceed.png
JMRIDebugOutput/bin/Debug/Assets/Proceed.wav
JMRIDebugOutput/bin/Debug/Assets/red.png
JMRIDebugOutput/bin/Debug/Assets/red.wav
JMRIDebugOutput/bin/Debug/Assets/yellow.png
JMRIDebugOutput/bin/Debug/Assets/yellow.wav
JMRIDebugOutput/bin/Debug/JMRIDebugOutput.exe
JMRIDebugOutput/bin/Debug/JMRIDebugOutput.exe.config
JMRIDebugOutput/bin/Debug/JMRIDebugOutput.pdb
JMRIDebugOutput/bin/Debug/JMRIReader.dll
JMRIDebugOutput/bin/Debug/JMRIReader.pdb
JMRIDebugOutput/bin/Debug/Newtonsoft.Json.dll
JMRIDebugOutput/bin/Debug/Newtonsoft.Json.xml
JMRIDebugOutput/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.csproj.CopyComplete
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.csproj.CoreCompileInputs.cache
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.csproj.FileListAbsolute.txt
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.csproj.GenerateResource.cache
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.csprojAssemblyReference.cache
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.exe
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.Form1.resources
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.pdb
JMRIDebugOutput/obj/Debug/JMRIDebugOutput.Properties.Resources.resources
JMRIReader/bin/Debug/JMRIReader.dll
JMRIReader/bin/Debug/JMRIReader.pdb
JMRIReader/bin/Debug/Newtonsoft.Json.dll
JMRIReader/bin/Debug/Newtonsoft.Json.xml
JMRIReader/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
JMRIReader/obj/Debug/JMRIReader.csproj.CopyComplete
JMRIReader/obj/Debug/JMRIReader.csproj.CoreCompileInputs.cache
JMRIReader/obj/Debug/JMRIReader.csproj.FileListAbsolute.txt
JMRIReader/obj/Debug/JMRIReader.csprojAssemblyReference.cache
JMRIReader/obj/Debug/JMRIReader.dll
JMRIReader/obj/Debug/JMRIReader.pdb
.vs/JMRIReader/v16/.suo
/.vs/JMRIReader/FileContentIndex/2137c40c-d2fb-460c-96c3-27f19ec4561b.vsidx
/.vs/JMRIReader/FileContentIndex/21b47d59-ee5f-44f4-98f9-bef422f4ac69.vsidx
/.vs/JMRIReader/FileContentIndex/797903e1-ba18-406b-ac36-ba166f1d6ba4.vsidx
/.vs/JMRIReader/v17/.suo
/JMRIReader/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/JMRIReader/obj/Release/JMRIReader.csproj.AssemblyReference.cache
