<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigFilePath" value="D:\Docs\jmri\My JMRI Railroad\TheLoft.xml"/>
    <add key="WebServerIP" value="192.168.1.29"/>
    <add key="MQTTServer" value="192.168.1.29"/>
    <add key="BlockAllocateTopic" value="layout/block/allocate"/>
    <add key="BlockReleaseTopic" value="layout/block/release"/>
    <add key="WebServerPort" value="8080"/>
    <add key="ShowProceed" value="true"/>
    <add key="TrackBlockAllocation" value="true"/>
    <add key="CautionNagSeconds" value="8"/>
    <add key="DangerNagSeconds" value="5"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
