<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigFilePath" value="D:\Docs\jmri\My JMRI Railroad\TheLoft.xml"/>
    <add key="RosterFilePath" value="D:\Docs\jmri\My JMRI Railroad\Roster.xml"/>
    <add key="DispatchesFolder" value="D:\Docs\jmri\My JMRI Railroad\dispatcher\traininfo\"/>
    <add key="JMRIServerIP" value="192.168.1.29"/>
    <add key="MQTTServerIP" value="192.168.1.29"/>
    <add key="WiThrottlePort" value="12090"/>
    <add key="MQTTPort" value="8080"/>
    <add key="BlockAllocateTopic" value="layout/block/allocate"/>
    <add key="BlockReleaseTopic" value="layout/block/release"/>
    <add key="AllocateBlocks" value="false"/>
    <add key="TrackAllocation" value="false"/>
    <add key="DefaultCrawlMMS" value="80"/>
    <add key="DefaultCautionMMS" value="160"/>
    <add key="DefaultFullSpeedMMS" value="330"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
